# Compilados do Java
*.class
*.war
*.ear
*.jar

# Pastas de build (onde o código compilado vai)
target/
bin/
build/

# Configurações do VS Code ou Eclipse / IntelliJ
.settings/
.classpath
.project
.metadata/
.idea/
*.iml
